@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
}
